*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Poppins',sans-serif;font-weight:400;list-style-type:none;}
a{text-decoration:none;color:rgb(0,0,0);border-bottom:2px solid rgba(0,0,0,0);-webkit-transition-duration:.25s;-moz-transition-duration:.25s;transition-duration:.25s;}
a:hover{text-decoration:none;color:rgb(0,0,0);border-bottom:2px solid rgba(0,0,0,1);-webkit-transition-duration:.25s;-moz-transition-duration:.25s;transition-duration:.25s;}
html{width:100%;height:100%;}
body{width:100%;height:100%;background-color:rgb(245,245,245);}
#bg_parallax{width:100%;height:70%;margin:0 auto;overflow:hidden;position:relative;}
#bg_parallax .escena{width:100%;height:100%;}
#bg_parallax .escena li{width:100%;height:100%;}
#bg_parallax .escena img{width:100%;}
.img1{margin:-5% -5%;}
.img2{position:absolute;top:-10%;left:-6%;}
.img3{position:absolute;top:-10%;left:-12%;}
#bg_parallax .layer:nth-child(1){width:110%;}
#bg_parallax .layer:nth-child(2){width:100%;}
#bg_parallax .layer:nth-child(3){width:100%;}
header{width:100%;height:70%;position:absolute;top:0;left:0;}
header nav{width:100%;display:flex;letter-spacing:.05em;}
header nav h1{flex:1;margin:15px 0 0 5%;}
#m_gtz{font-size:13pt;font-weight:700;color:rgb(255,255,255);border-bottom:2px solid rgba(255,255,255,0);}
#m_gtz:hover{color:rgb(255,255,255);border-bottom:2px solid rgba(255,255,255,1);}
header nav ul{margin:15px 5% 0 0;}
header nav ul li{display:inline-block;margin:7px 0 0 35px;}
header nav ul li a{font-size:13pt;font-weight:700;color:rgb(255,255,255);border-bottom:2px solid rgba(255,255,255,0);}
header nav ul li a:hover{color:rgb(255,255,255);border-bottom:2px solid rgba(255,255,255,1);}
header nav ul li #m_bio{border-bottom:none;cursor:default;}
header nav ul li #m_bio:hover{border-bottom:none;cursor:default;}
#m_bio:after{content:'_';-webkit-animation:parpadeo 1s infinite;-moz-animation:parpadeo 1s infinite;animation:parpadeo 1s infinite;}
@-webkit-keyframes parpadeo{0%,100%{opacity:0;}50%{opacity:1;}}
@-moz-keyframes parpadeo{0%,100%{opacity:0;}50%{opacity:1;}}
@keyframes parpadeo{0%,100%{opacity:0;}50%{opacity:1;}}
header aside{position:absolute;bottom:15px;left:5%;line-height:1.4;}
#resumen{display:none;}
header aside ul li a{color:rgb(255,255,255);font-size:10pt;border-bottom:2px solid rgba(255,255,255,0);}
header aside ul li a:hover{color:rgb(255,255,255);border-bottom:2px solid rgba(255,255,255,1);}
.bio{width:100%;padding:3% 3% 2% 3%;text-align:center;}
.bio hr{border:none;margin:10px 0;}
.bio h2{display:block;margin-bottom:10px;font-size:16pt;font-family:'Roboto Slab',sans-serif;}
.bio p{font-size:12pt;margin-bottom:1em;}
.bio em{font-style:normal;}
#p4 #pr8 a{border-bottom:2px solid rgba(0,0,0,1);}
.slideshow, .slideshow2{width:480px;height:270px;margin:0 auto 10px auto;position:relative;text-align:center;}
.slideshow--item{width:480px;height:270px;line-height:1;position:absolute;top:0;visibility:hidden;}
.slideshow--item img{height:100%;}
.slideshow--bullet:checked + .slideshow--item{visibility:visible;}
.slideshow[data-transition="fade"] .slideshow--item{visibility:visible;opacity:0;-webkit-transition:.3s ease-out opacity;-moz-transition:.3s ease-out opacity;transition:.3s ease-out opacity;}
.slideshow[data-transition="fade"] .slideshow--bullet:checked + .slideshow--item{opacity:1;}
.slideshow2[data-transition="fade"] .slideshow--item{visibility:visible;opacity:0;-webkit-transition:.3s ease-out opacity;-moz-transition:.3s ease-out opacity;transition:.3s ease-out opacity;}
.slideshow2[data-transition="fade"] .slideshow--bullet:checked + .slideshow--item{opacity:1;}
.slideshow--nav{position:absolute;top:0;bottom:0;width:50%;display:none;z-index:100;cursor:pointer;-webkit-touch-callout:none;-moz-touch-callout:none;touch-callout:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.slideshow--nav:after{display:block;content:'\2192';font-size:24pt;color:rgb(191,191,191);position:absolute;top:45%;right:20px;}
.slideshow--nav-previous{left:0px;display:block;}
.slideshow--nav-previous:after{right:auto;left:20px;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);transform:scaleX(-1);}
.slideshow--nav-next{right:0;display:block;}
.slideshow--bullet{display:none;}
.bio_dat{width:100%;padding:3% 2% 3% 2%;cursor:default;}
.bio_dat section{padding:0 2%;}
.bio_dat section h3{font-size:11pt;font-weight:700;margin-bottom:4px;}
.bio_dat section ul li{font-size:11pt;margin-bottom:4px;}
.bio_dat .hab{width:100%;margin-bottom:30px;}
.bio_dat .hab hr{display:none;}
.bio_dat .hab ul li{display:inline-block;}
.bio_dat .hab ul li:after{ content:',';}
.bio_dat .hab em{font-size:11pt;font-style:normal;}
.bio_dat .sw{width:45%;display:inline-block;}
.bio_dat .sw hr{border:none;margin-bottom:12pt;}
.bio_dat .sw ul li{border-bottom:2px solid rgb(191,191,191);position:relative;width:175px;}
.bio_dat .sw ul li span{height:100%;border-bottom:2px solid rgb(64,64,64);position:absolute;left:0;top:2px;animation:barra 4s;}
.bio_dat .sw ul li i{width:100%;display:block;position:absolute;top:0;text-align:right;font-style:normal;color:rgb(128,128,128);}
.bio_dat .sw ul li .s_au{width:65%;}
.bio_dat .sw ul li .s_fl{width:55%;}
.bio_dat .sw ul li .s_ai{width:50%;}
.bio_dat .sw ul li .s_id{width:30%;}
.bio_dat .sw ul li .s_ps{width:75%;}
.bio_dat .sw ul li .s_pr{width:60%;}
.bio_dat .sw ul li .s_cd{width:85%;}
.bio_dat .sw ul li .s_lo{width:55%;}
.bio_dat .sw ul li .s_mo{width:60%;}
.bio_dat .sw ul li .s_st{width:75%;}
.bio_dat .sw ul li .s_vms{width:55%;}
.bio_dat .sw ul li .s_os{width:50%;}
.bio_dat .sw ul li .s_win{width:90%;}
@-webkit-keyframes barra{0%{ width:0%;}100%{width:;}}
@-moz-keyframes barra{0%{width:0%;}100%{width:;}}
@keyframes barra{0%{width:0%;}100%{width:;}}
.bio_dat .exp{width:55%;float:right;}
.bio_dat .exp ul li small{font-size:11pt;color:rgb(128,128,128);}
.bio_dat .exp ul li small .dTemp{font-weight:bold;color:rgb(64,64,64);}
footer{width:100%;height:180px;display:flex;align-items:center;}
footer address{flex:1;font-style:normal;height:170px;display:flex;flex-direction:column;justify-content:space-around;}
footer address p{margin:0 0 0 15%;}
#c_Num{font-size:13pt;letter-spacing:.04em;}
#c_Email,#c_Local{font-size:13pt;}
footer .RedesSociales{flex:1;}
footer .RedesSociales div{display:flex;flex-direction:column;align-items:center;justify-content:space-around;height:160px;}
footer .RedesSociales div a{border-bottom:none;}
footer .RedesSociales div a:hover{border-bottom:none;}
footer .RedesSociales div a img{width:30px;}
footer .RedesSociales div a img:hover{opacity:.7;-webkit-transition:.1s;-moz-transition:.1s;transition:.1s;}
footer .Formulario{display:none;}
#firma{display:inline-block;width:100%;margin-bottom:10px;font-style:normal;font-size:10pt;text-align:center;}